body {
  background-color: rgb(214, 239, 234);
}

.didact-gothic-regular {
  font-family: "Didact Gothic", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.div {
  color: rgb(128, 128, 128)
  border-radius: 25px
}
